PORT=8092
LOG_LEVEL=info
POSTGRES_USER=promo_user
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=promo_db
DATABASE_URL=postgres://promo_user:YOUR_PASSWORD@localhost:5440/promo_db?sslmode=disable
JWT_SECRET=YOUR_SECRET_KEY_HERE
